<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="/assets/img/slider/slide2.jpg" height="400" alt="Image of first carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">프리미엄 차량 딜러십</h3>
                                <p class="carousel-body">최고급 수입차 및 국산차 판매</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide4.jpg" height="400" alt="Image of second carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">전문 정비 서비스</h3>
                                <p class="carousel-body">신속 \ 정확 \ 합리적 가격</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide2.jpg" height="400" alt="Image of third carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">차량 할부 및 리스</h3>
                                <p class="carousel-body">편리한 금융 서비스 \ 저금리 할부</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">우리의 서비스</h3>
                    <p class="services-header-body"><em> 프리미엄 오토 모터스가 제공하는 서비스 </em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-car fa-5x"></span></p>
                        <h4 class="services-title">신차 판매</h4>
                        <p class="services-body">다양한 브랜드의 최신 모델을 경쟁력 있는 가격으로 제공합니다. 국산차부터 수입차까지 폭넓은 선택이 가능합니다.</p>
                        <p class="services-more"><a href="#">자세히 보기</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-wrench fa-5x"></i></p>
                        <h4 class="services-title">정비 서비스</h4>
                        <p class="services-body">숙련된 정비사가 정밀 점검과 수리를 제공합니다. 정기 점검부터 엔진 수리까지 모든 서비스가 가능합니다.</p>
                        <p class="services-more"><a href="#">자세히 보기</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-shield fa-5x"></i></p>
                        <h4 class="services-title">보증 서비스</h4>
                        <p class="services-body">모든 차량에 철저한 품질 보증을 제공합니다. 구매 후에도 안심하고 운전할 수 있도록 보증 프로그램을 운영합니다.</p>
                        <p class="services-more"><a href="#">자세히 보기</a></p>
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-refresh fa-5x"></span></p>
                        <h4 class="services-title">중고차 매입</h4>
                        <p class="services-body">합리적인 가격으로 중고차를 매입합니다. 공정한 평가와 신속한 절차로 만족스러운 거래를 약속합니다.</p>
                        <p class="services-more"><a href="#">자세히 보기</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-credit-card fa-5x"></i></p>
                        <h4 class="services-title">할부 금융</h4>
                        <p class="services-body">다양한 할부 및 리스 옵션을 제공합니다. 저금리 할부로 부담 없이 원하는 차량을 구매하실 수 있습니다.</p>
                        <p class="services-more"><a href="#">자세히 보기</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-certificate fa-5x"></i></p>
                        <h4 class="services-title">차량 보험</h4>
                        <p class="services-body">최적의 보험 상품을 추천해 드립니다. 차량 구매와 동시에 보험 가입까지 원스톱 서비스를 제공합니다.</p>
                        <p class="services-more"><a href="#">자세히 보기</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
